<footer>
    <div class="contact row green darken-3">
        <div class="col s12 m4 center-align">
            <span><h5>Adresse</h5> {{ site.address|linebreaks }}</span>
        </div>
        <div class="col s12 m4 center-align">
            <span><h5>Telefon</h5> <a href="tel:{{ site.telephone }}">{{ site.telephone }}</a></span>
        </div>
        <div class="col s12 m4 center-align">
            <span><h5>E-Mail</h5> <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
        </div>
    </div>
    <div class="impressum-block row">
        <div class="col s6">
            <span class="center-align"><h6><a href="{% url 'impressum' %}">Impressum</a></h6></span>
        </div>
        <div class="col s6">
            <span class="center-align"><h6><a href="{% url 'datenschutz' %}">Datenschutz</a></h6></span>
        </div>
    </div>
    <div class="creator center-align">
        <span>Entwicklung und Design: <a href="mailto:yushyn.andriy@gmail.com">Andriy Yushyn</a></span>
    </div>
</footer>