<nav class="green darken-3">
    <div class="nav-wrapper">
        <a class="brand-logo" href="{% url 'home' %}">{{ site.name }}</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'rooms' %}">Zimmern</a></li>
            <li><a href="{% url 'menu' %}">Menü</a></li>
            <li><a href="{% url 'travel' %}">Reiseführung</a></li>
            <li><a href="{% url 'arriving' %}">Ankommen</a></li>
            <li><a href="{% url 'about' %}">Über uns</a></li>
        </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'rooms' %}">Zimmern</a></li>
        <li><a href="{% url 'menu' %}">Menü</a></li>
        <li><a href="{% url 'travel' %}">Reiseführung</a></li>
        <li><a href="{% url 'arriving' %}">Ankommen</a></li>
        <li><a href="{% url 'about' %}">Über uns</a></li>
    </ul>
</nav>