{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="messages row">
                <div class="message col s12">
                    {% if message.message_type == 'WARNING' %}
                        <div class="card-panel yellow lighten-1">
                            {% include './includes/message-card.html' %}
                        </div>
                    {% elif message.message_type == 'INFO' %}
                        <div class="card-panel blue lighten-4">
                            {% include './includes/message-card.html' %}
                        </div>
                    {% elif message.message_type == 'ALERT' %}
                        <div class="card-panel red lighten-3">
                            {% include './includes/message-card.html' %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <section class="richtext">
        {{ site.welcome_text|safe|linebreaks }}
    </section>
{% endblock content %}