{% extends 'base.html' %}
{% load static %}
{% load filename %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'core/food_menu.css' %}">
{% endblock static_files %}

{% block content %}
    <section>
        <div>
            <div class="intro card-panel grey lighten-4">
                {{ site.intro_menu|safe|linebreaks }}
                {% if site.pdf_menu %}
                    <a href="{{ site.pdf_menu.url }}">{{ site.pdf_menu.url|filename }}</a>
                {% endif %}
            </div>
            <ul>
                {% for item in menu_items %}
                    <li>
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="{{ item.image.url }}" alt="Menu Item">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title">{{ item.title }}</span>
                                    <p>{{ item.description }}</p>
                                    <br>
                                    {% if item.ingredients %}
                                        <p><b>Zutaten:</b> {{ item.ingredients }}</p>
                                        <br>
                                    {% endif %}
                                    {% if item.portion_size %}
                                        <p><b>Menge:</b> {{ item.portion_size }}</p>
                                        <br>
                                    {% endif %}
                                </div>
                                <div class="card-action">
                                    <span><h6>{{ item.price }}€</h6></span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock content %}