{% extends 'base.html' %}
{% load static %}

{% block static_files %}
    <link rel="stylesheet" href="{% static 'core/rooms.css' %}">
{% endblock static_files %}

{% block content %}
    <section>
        <ul>
            {% for room in rooms %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{ room.image.url }}" alt="Room Image">
                        <span class="card-title">{{ room.title }}</span>
                    </div>
                    <div class="card-content richtext">
                        {{ room.description|safe|linebreaks }}
                    </div>
                    <div class="card-action">
                        <span class="price"><h6>Preis: {{ room.price }}€</h6></span>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}