{% extends 'base.html' %}

{% block content %}
    <section>
        <ul>
            {% for guide in travel_guides %}
                <li>
                    <h3>{{ guide.title }}</h3>
                    <img src="{{ guide.image.url }}" alt="Guide Image">
                    <div class="richtext">{{ guide.content|safe|linebreaks }}</div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}