{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="{% static 'styles/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
    {% block static_files %}{% endblock static_files %}
</head>
<body>
    <div class="container">
        {% include './includes/header.html' %}
        {% include './includes/navbar.html' %}

        <div class="content row">
            <div class="col s10 offset-s1">
                {% block content %}{% endblock content %}
            </div>
        </div>

        {% include './includes/footer.html' %}
    </div>
</body>
</html>