@media only screen and (min-width: 992px) {
    /* For desktop: */
    #header {
        z-index: 1;
        margin-bottom: -1vh;
    }
}

.header-img {
    object-fit: cover;
    min-width: 100%;
    height: 400px;
}

.brand-logo {
    padding-left: 20px !important;
}

footer {
    margin-top: 5vh;
}

.contact {
    color: white;
    padding: 5vh 0;
}

.contact a {
    color: white;
}

.impressum-block a {
    color: #424242;
}

.creator {
    margin: 2vh 0;
}