@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, html * {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e8f5e9;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

.container {
    background-color: white;
}

.content {
    padding-top: 2vh;
}

.richtext img {
    /* rewrite the rules from materialize framework */
    width: 100% !important;
    height: auto !important;
    margin: 1vh 0;
}